.viewToDoList {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.listItems {
  width: 70vw;
  overflow: auto;
  height: 38vh;
}
.toDoText {
  padding-right: 30vw;
  margin-right: 20vw;
}

.selectField {
  width: 160px !important;
  margin-bottom: 1rem;
}

.toDoSelect {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 600px) {
  .listItems {
    width: 400px;
  }
  .selectField {
    width: 160px !important;
  }
}
