.completed {
  color: #408697;
}

.completed > span {
  width: 80%;
}

.notCompleted {
  color: #fba100;
}

.notCompleted > span {
  width: 80%;
}

.listItem {
  border: 2px solid #408697;
  margin-bottom: 1rem;
  padding: 10px;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 15px -6px #000000;
}

.editInput > input {
  margin-right: 5px !important;
}

.toDoStatusClass > span {
  width: 75%;
}
