.loginContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.loginLabels {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
}

.signInButton {
  color: rgb(215, 215, 215) !important;
  background-color: #408697 !important;
  border-color: black !important;
  margin-bottom: 1rem !important;
}
.signUpButton {
  color: white !important;
  background-color: #fba100 !important;
  border-color: black !important;
  margin-top: 1rem !important;
}
.loginButtonsBox {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.usernameInput {
  margin-bottom: 1rem !important;
  border: none !;
}

.or {
  width: 80%;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px auto 10px;
}
.or span {
  background-color: #f2f2f2f2;
  padding: 0 5px;
}
