.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20vh;
  margin-bottom: 5vh;
}
.inputField {
  width: 50vw;
  margin-right: 5vw;
}
.selectField {
  width: 12vw;
}
.addNewToDoIcon {
  color: rgb(250, 114, 17);
}
