.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 5vh;
  margin-left: 60px;
}
.selectField {
  width: 12vw;
}
.addNewToDoIcon {
  color: #fba100;
}

.inputField {
  width: 40vw;
}

@media only screen and (max-width: 600px) {
  .inputField {
    width: 50vw;
  }
}
