.signUpContainer {
  margin: auto !important;
}
.signUpForm {
  width: 15rem !important;
  height: 15rem;
  padding: 1.5rem;
  margin: auto;
}
.signUpForm > button {
  width: 10rem;
  margin: auto;
  border: none !important;
  color: white;
}

.signUpForm > div {
  margin-bottom: 2rem;
}
